#dropdown{
  padding: .8em;
}
body{
  padding-top: 4em;
  padding-bottom: 7em;
}
.jumbotron{
  text-align: center;
}
#myprojects{
  text-align: center;

}
#myprojects .jumbotron{
  margin: .1em;
  padding: 1em;
  background-color: white;
}
.col-md-4{
  padding: 1em;
}
.col-md-4 h1{
  text-align: center;
}
.container{
  max-width: 1500px;
}
#portfolio .jumbotron{
  width: 100%;
}
.navbar-brand{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 25px;
}
.collapse ul{
  padding-top: 1.1em;
  font-size: 18px;
}
.butttonalign{
  float: none;
  display: table-cell;
  vertical-align: bottom;
}
.background{
  background-color: #575757;
  border-radius: 2.5em;
}
.background2{
  background-color: #f4f4f4;
  border-radius: 2.5em;
}
.contents{
  padding: 1.3em;
}
.color{
  color: white;
}
.row{
    overflow: hidden;
}
hr{
  height: 6px;
}
