#dropdown{
  padding: .8em;
}
body{
  padding-top: 2em;
  padding-bottom: 7em;
}
.jumbotron{
  text-align: center;
}
#myprojects{
  text-align: center;

}
#myprojects .jumbotron{
  margin: .1em;
  padding: .1em;
  background-color: white;
}
.col-md-4{
  padding: 1em;
}
.col-md-4 h2{
  text-align: center;
}
.container{
  max-width: 1500px;
}
#portfolio .jumbotron{
  width: 100%;
}
.navbar-brand{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 25px;
}
.collapse ul{
  padding-top: 1.1em;
  font-size: 18px;
}
